<h4>Voorbeelden</h4>
<div id="wrapper" class="clearfix">
    <nav id="navVoorbeelden">
        <ul>
            <li><a href="@Url.Action("WebAPI", "Portfolio")">WebAPI</a></li>
            <li><a href="@Url.Action("WCF", "Portfolio")">WCF</a></li>
            <li><a href="@Url.Action("MVC", "Portfolio")">MVC 4</a></li>
            <li><a href="@Url.Action("Linq", "Portfolio")">LINQ</a></li>
            <li><a href="@Url.Action("ADO", "Portfolio")">ADO</a></li>
            <li><a href="@Url.Action("ASP", "Portfolio")">ASP</a></li>
            <li><a href="@Url.Action("WPF", "Portfolio")">WPF</a></li>
            <li><a href="@Url.Action("HTML", "Portfolio")">HTML 5 / CSS 3</a></li>
        </ul>
    </nav>

</div>

    

